div{-ms-flex-item-align: center}


body { background: cornflowerblue

    div class="gallery" 

}
.octodex{
    display: flex; 
    width: 1000px;
    justify-content: space-between;
}
.octocat > a > img{
    width: 300px;
    border: 1px solid rgb(182, 97, 97);
    border-radius: 4px;
}
ul {
    padding:0;
    list-style:none;
}
/* img-container {
    float: left;
    width: 20.33%; 
    padding: 5px; 
  } */

.authors > li > a > img {
    
    padding: 5px;
    width: 20px;
  }
/* 
  
  image.right {
    float: right;
    width: 200px;
    border: 3px solid #73AD21;
    padding: 10px;
  } */
  .clearfix {
    overflow: auto;
  }
  

  #menu- outer {
    height:
	background: url(images/bar-bg.jpg) repeat-x;
                    
      }

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
    }
    
 span{
   color: #ccc;
 }
 a{
   text-decoration: none;
   color: black;
   margin: 0 4px;
 }
.image-footer {
    display:flex;
}
  .image-caption{
    display: flex;
  }
.image-footer {
    justify-content: space-between;
}